.table {
  .button-wrapper {
    margin-bottom: 40px;
  }
  button {
    margin: 10px
  }
  textarea {
    width: 700px;
    height: 150px;
  }
  input
  {
    width: 700px;
    vertical-align: middle;
  }
}
